---
import { LINK } from "@flamrdevs/const/exports.ts";

import { HTMLX } from "~/components/index.ts";
import { Center, Container, IconButton, Separator, Text } from "~/components/core.ts";
import { Icon } from "~/components/icons/index.tsx";
import { AnimatedSVGLogo } from "~/components/flamrdevs.ts";

import { flamrdevssvg } from "~/styles/pages/index.css";
---

<HTMLX>
	<Container max="md" px="4">
		<Separator orientation="horizontal" />
		<Center gap="2" p={{ __: "1", md: "2" }}>
			<Text family="mono">flamrdevs</Text>

			<div style="flex-grow: 1;"></div>

			<Separator orientation="vertical" style="height: 1.5rem" />

			<IconButton id="light-theme-icon-button" aria-label="Light theme">
				<Icon i="Sun" />
			</IconButton>

			<IconButton id="dark-theme-icon-button" aria-label="Dark theme">
				<Icon i="Moon" />
			</IconButton>

			<Separator orientation="vertical" style="height: 1.5rem" />

			<IconButton as="a" id="github-icon-button" href={LINK.GITHUB} target="_blank" aria-label="GitHub">
				<Icon i="Github" />
			</IconButton>
		</Center>
		<Separator orientation="horizontal" />
	</Container>

	<Center>
		<AnimatedSVGLogo class={flamrdevssvg} />
	</Center>
</HTMLX>

<script>
	import { trackEvent } from "~/libs/aptabase.ts";
	import { changeTheme } from "~/stores/theme.ts";

	document.getElementById("light-theme-icon-button")!.addEventListener("click", () => {
		changeTheme("light");
		trackEvent("light-theme-click");
	});
	document.getElementById("dark-theme-icon-button")!.addEventListener("click", () => {
		changeTheme("dark");
		trackEvent("dark-theme-click");
	});
	document.getElementById("github-icon-button")!.addEventListener("click", () => {
		trackEvent("github-link-click");
	});
</script>
