---
import { Padding } from "@flamrdevs/ui/core/Sprinkles.css";

import clsx from "@flamrdevs/x/modules/clsx";

import { HTMLX, Box, Button, Center, Container, IconButton, Separator, Text } from "~/components/core";
import { WeatherMoon, WeatherSunny } from "~/components/icons/fluent";
---

<HTMLX>
  <Container max="md" class={clsx(Padding({ p: "md" }))}>
    <Text family="mono" size="xl" weight={700} align="center">flamrdevs</Text>
    <Box py="md">
      <Separator orientation="horizontal" />
    </Box>
    <Center gap="sm">
      <Button id="toggle-theme-button" font="mono">theme</Button>

      <IconButton id="light-theme-icon-button">
        <WeatherSunny />
      </IconButton>
      <IconButton id="dark-theme-icon-button">
        <WeatherMoon />
      </IconButton>
    </Center>
  </Container>
</HTMLX>

<script>
  import { changeTheme, toggleTheme } from "~/stores/theme";

  document.getElementById("toggle-theme-button")!.addEventListener("click", toggleTheme);
  document.getElementById("light-theme-icon-button")!.addEventListener("click", () => {
    changeTheme("light");
  });
  document.getElementById("dark-theme-icon-button")!.addEventListener("click", () => {
    changeTheme("dark");
  });
</script>
