---
import HTMLX from "~/components/core/HTMLX.astro";

import Text from "@flamrdevs/ui-astro/core/Text.astro";
---

<HTMLX>
  <div id="root">
    <Text family="mono" size="xl" weight={700}>flamrdevs</Text>
  </div>
</HTMLX>
