---
import { getCollection } from "astro:content";

import { HTMLX, Text } from "~/components/core";

const collection = await getCollection("blog");
---

<HTMLX title="blog" description="blog">
  {
    collection.map((item) => (
      <div>
        <Text>{item.slug}</Text>
        <Text>{item.data.title}</Text>
      </div>
    ))
  }
</HTMLX>
