---
import { getCollection } from "astro:content";

import { HTMLX, Container, Text } from "~/components/core";

const collection = await getCollection("projects");
---

<HTMLX title="projects" description="projects">
  <Container>
    {
      collection.map((item) => (
        <div>
          <Text>{item.id}</Text>
          <Text>{item.data.name}</Text>
        </div>
      ))
    }
  </Container>
</HTMLX>
