---
import { getCollection } from "astro:content";

import HTMLX from "~/components/core/HTMLX.astro";

import Text from "@flamrdevs/ui-astro/core/Text.astro";

const collection = await getCollection("projects");
---

<HTMLX title="projects" description="projects">
  <div id="root">
    {
      collection.map((item) => (
        <div>
          <Text>{item.id}</Text>
          <Text>{item.data.name}</Text>
        </div>
      ))
    }
  </div>
</HTMLX>
