---
import { getCollection } from "astro:content";

import { HTMLX, Text } from "~/components/core";

const collection = await getCollection("projects");
---

<HTMLX title="projects" description="projects">
  {
    collection.map((item) => (
      <div>
        <Text>{item.id}</Text>
        <Text>{item.data.name}</Text>
      </div>
    ))
  }
</HTMLX>
